@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aplicação em Escola Web | ASP.NET</h1>
    <p class="lead">Escola web programa de teste em asp.net Entre em Alunos ou Cidades para usar aplicação</p>
    <p><a href="../Students/Create" class="btn btn-primary btn-lg">Alunos </a> ou <a href="../Cities/Create" class="btn btn-primary btn-lg">Cidades </a></p>
</div>

